button {
    cursor: pointer;
}

header {

    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 100px;
}

#navbar {
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
}

.menu {
    margin: 15px;
    text-decoration: none;
    font-size: 15px;
}

#menuHome {
    color: #006D77;
}

a:visited {
    color: black;
}

.angle-small-down {
    margin-bottom: -5px;
}

#getStarted-button {
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    background-color: #BEE1E6;
    border-style: none;
    border-radius: 8px;
    box-shadow: 0px 3px 8px 1px rgb(206, 206, 206);
    font-size: 15px;
}

.arrow-r-black,
.arrow-r-white {
    margin-bottom: -5px;
}

.menu-burger {
    margin-bottom: -5px;
}

section #upSectionText {
    height: 532px;
    display: block;
    background-color: #BEE1E6;
    width: 50%;
    float: left;
}

#DMAbuttonDark {
    margin-top: 80px;
    margin-left: 130px;
    background-color: #006D77;
    border-radius: 16px;
    color: white;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-style: none;
}

#header1 {
    font-size: 50px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    width: 490px;
    height: 144px;
    padding: 40px;
    padding-bottom: 0px;
    margin-left: 90px;
}

.mainText {
    padding-bottom: 40px;
    margin-left: 135px;
    width: 600px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

#getStartedBtn-black {
    padding: 20px 32px;
    margin-left: 135px;
    color: white;
    background-color: #030303;
    border-radius: 8px;
    border-style: none;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
}

#howItWorksBtn {
    padding: 20px 32px;
    margin-left: 70px;
    border-radius: 8px;
    border-style: none;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    border-color: #006D77;
    border-style: solid;
    border-width: 1px;
    background-color: #BEE1E6;
}

#upSectionImg {
    position: relative;
    height: 532px;
    display: block;
    background-color: #BEE1E6;
    width: 50%;
    float: right;
    /* VARIABLES - imgWorkers is a base */
    --ImgMarginLeft: 300px;
    --ImgMarginTop: 60px
}

#imgWorkers {
    position: absolute;
    z-index: 2;
    margin-left: var(--ImgMarginLeft);
    margin-top: var(--ImgMarginTop);
}

#waveSvg {
    position: absolute;
    z-index: 3;
    background-color: white;
    overflow: hidden;
    width: 184px;
    padding-top: 60px;
    border-radius: 18px;
    margin-left: calc(var(--ImgMarginLeft) - 50px);
    margin-top: calc(var(--ImgMarginTop) + 200px);

}

#frameSvg {
    position: absolute;
    z-index: 1;
    margin-left: calc(var(--ImgMarginLeft) - 30px);
    margin-top: calc(var(--ImgMarginTop) + 20px);
}

#ClientLogoDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 350px;
    gap: 30px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#ClientLogoDiv>div {
    border-style: none;
}

.topLogo {
    margin-top: 100px;
}

.bottomLogo {
    margin-top: -20px;
}

#bottomLine {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

#freshIdeas {
    height: 650px;
}

#mainSectionImg {
    position: relative;
    width: 60%;
    height: 650px;
    float: left;
    /*VARIABLES HighFiveImg is a base*/
    --MarginTopHigh: 40px;
    --MarginLeftHigh: 130px;
}

#HighFiveImg {
    position: absolute;
    z-index: 1;
    margin-top: var(--MarginTopHigh);
    margin-left: var(--MarginLeftHigh);

}

#ChartsImg {
    position: absolute;
    border-radius: 16px;
    z-index: 2;
    margin-top: calc(var(--MarginTopHigh) + 325px);
    margin-left: calc(var(--MarginLeftHigh) + 450px);
}


#mainSectionText {
    display: block;
    width: 40%;
    height: 600px;
    float: right;
}

.DMAbuttonBright {
    background-color: #BEE1E6;
    border-radius: 16px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border-style: none;
    margin-top: 40px;
}

.header2 {
    font-size: 37px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    height: 100px;
    padding: 40px 40px 0 0;
    padding-bottom: 0;

}

.mainSecText {
    width: 500px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    padding: 0px 40px 0 0;
}

.nameOpinion {
    font-size: 20px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    padding: 20px 20px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
}

.opinion {
    width: 420px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 15px;
    word-spacing: 2.5px;
    margin-left: 57px;
    text-align: justify;
}

#CenteredTextSection {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#HeaderCentered {
    font-size: 37px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    width: 500px;
    text-align: center;
    padding: 20px;
}

#TextCentered {
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 600px;
    text-align: center;
    line-height: 1.5;
}

#RowOpinionSection {
    display: flex;
    height: 250px;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    gap: 150px;

    .opinion {
        width: 300px;
    }
}

#TLCSection {
    height: 550px;
    border: none;
    box-shadow: 0px 3px 8px 1px rgb(206, 206, 206);
}

#TLCText {
    background-color: #deeff3;
    width: 60%;
    float: left;
    height: 550px;

    .DMAbuttonBright {
        margin-left: 120px;
        box-shadow: 0px 3px 8px 1px rgb(206, 206, 206);
    }

    .header2 {
        width: 650px;
        margin-left: 120px;
    }

    .mainSecText {
        width: 700px;
        margin-left: 120px;
    }
}

#TLCOpinions {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    padding-top: 20px;

    .opinion {
        width: 270px;
    }
}

#TLCImg {
    background-color: #deeff3;
    position: relative;
    width: 40%;
    float: right;
    height: 550px;

    /*VARIABLES EmptyDeskImg is a base*/
    --MarginTopDesk: 40px;
    --MarginLeftDesk: 50px;
}

#EmptyDeskImg {
    position: absolute;
    z-index: 1;
    margin-top: var(--MarginTopDesk);
    margin-left: var(--MarginLeftDesk);
}

#WomanImg {
    position: absolute;
    z-index: 2;
    margin-left: calc(var(--MarginLeftDesk) + 280px);
    margin-top: calc(var(--MarginTopDesk) + 280px);
}

#LinkSection {
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 380px;
}

.LinksList {
    width: 300px;
    height: 250px;
    margin-top: 80px;

    .opinion {
        margin-left: 10px;
        padding-top: 20px;
        width: 250px;
    }

    .nameOpinion {
        padding: 10px;
    }
}

::marker {
    content: '';
}

.LiFont {
    font-size: 15px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    color: #929292;
    letter-spacing: 2px;
    padding: 10px;
}

.LinksList a {
    text-decoration: none;
    color: #929292;
}

.LinksList a:visited {
    color: #929292;
}

.ArrowRight {
    margin-bottom: -2px;
}

#CopyrightSection {
    background-color: #006D77;
    height: 100px;
    font-size: 15px;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}