#container {
    background-color: aqua;
}

header {
    
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 100px;
}

#navbar {
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
}

.menu {
    margin: 15px;
    text-decoration: none;
    font-size: 15px;
}

a:visited {
    color: black;
}

.angle-small-down {
    margin-bottom: -5px;
}

#getStarted-button {
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    background-color: #BEE1E6;
    border-style: none;
    border-radius: 8px;
    box-shadow: 0px 3px 8px 1px rgb(206, 206, 206);
    font-size: 15px;
}

.arrow-small-right {
    margin-bottom: -5px;
}

.menu-burger {
    margin-bottom: -5px;
}